.Banner-container{
    background-color: #F9F9FF;
    background-size: cover;
    height: 784px;
}
.left-info{
    /* margin-top: 134px; */
}

@media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .Banner-container-wrapper{
        flex-direction: column;
    }
    .Banner-container{
        height: auto;
    }
    .right-img{
        display: none;
    }
 }
