nav a{
    margin-left: 30px;
}
nav a:hover{
    color: #7E90FE;
}
.btn-start-apply{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}
.header-container{
    background-color: #F9F9FF;
}

@media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .header-container-wrapper{
        flex-direction: column;
    }
 }
