@tailwind base;
@tailwind components;
@tailwind utilities;

.container-wrapper{
    width: 1320px;
    /* width: 100%; */
    margin: 0px auto;
}
.btn-start-apply{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    border-radius: 8px;
    outline: 0;
}
.title{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */
    /* Dark 01 */

    color: #1A1919;


}
.title-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;

    /* Dark 03 */

    color: #757575;
}
h2{
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;

    /* Dark 02 */

    color: #474747;

}
p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color:#757575
}